<div 
    class="line-up-row-container"
    [ngClass]="{
    'line-up-row-container-home' : team === 'HOME',
    'line-up-row-container-away' : team === 'AWAY'
}">
    <div class="player-wrapper" *ngIf="team === 'HOME'">
        <strong class="player-info">{{player.shirtNumber}}</strong>
        <span class="player-info">{{player.name}}</span>
        <span class="player-info" *ngIf="player.position === 'Goalkeeper'">(gk)</span>
        <span class="player-info" *ngIf="player.id === captain.id">(c)</span>
        <span class="player-info" *ngIf="scored" [ngClass]="{ 'own-goal' : owngoal }">
            <mat-icon>
                sports_soccer
            </mat-icon>
        </span>
        <span class="player-info" *ngIf="booked" [ngClass]="{ 'yellow-card-indicator' : card === 'YELLOW_CARD' }">
            <mat-icon>
                bookmark
            </mat-icon>
        </span>
    </div>
    <div class="player-wrapper" *ngIf="team === 'AWAY'">
        <span class="player-info" *ngIf="booked" [ngClass]="{ 'yellow-card-indicator' : card === 'YELLOW_CARD' }">
            <mat-icon>
                bookmark
            </mat-icon>
        </span>
        <span class="player-info" *ngIf="scored" [ngClass]="{ 'own-goal' : owngoal }">
            <mat-icon>
                sports_soccer
            </mat-icon>
        </span>
        <span class="player-info" *ngIf="player.id === captain.id">(c)</span>
        <span class="player-info" *ngIf="player.position === 'Goalkeeper'">(gk)</span>
        <span class="player-info">{{player.name}}</span>
        <strong class="player-info">{{player.shirtNumber}}</strong>
    </div>
</div>