@import "_variables.scss";

.layout-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-navbar {
    width: 100%;
    height: 80px;
    background: $primary;
}

.content-wrapper {
    display: flex;    
    height: calc(100% - 80px);
}
.side-navbar {
    width: 250px;
    // position: fixed;
    background: $secondary;
    height: 100%;
    overflow-y: auto;

    .side-menu {
        .side-menu-item {
            color: white;
            cursor: pointer;

            &:hover {
                background: darken($color: $secondary, $amount: 2);
            }

            &:active {
                background: $secondary-active;
            }
        }
    }

}
.competition-wrapper {
    margin: 10px;
    max-height: calc(100% - 20px);
    width: 100%;
}

.text-red {
    color: red;
}
