.homeEvent,
.awayEvent,
.event-row-container,
.summary-title,
.sub-row,
.match-line-ups-container,
.line-up-row-container,
.lineup-header {
    display: flex;
    width: 100%;
}

.match-line-ups-container {
    justify-content: space-between;
}

.line-up-list-wrapper {
    width: 50%;
}

.away-line-up-list-wrapper {

    .mat-list-item-content {
        justify-content: flex-end;
    }
}

.line-up-row-container-home,
.line-up-row-container-away {
    display: flex;
    width: 100%;
}

.line-up-row-container-away {
    justify-items: flex-end;
    justify-content: flex-end;
}


.player-wrapper {
    display: flex;

    .player-info {
        margin: 0 5px;
    }
}

.homeEvent {
    justify-content: flex-start;
}

.awayEvent {
    justify-content: flex-end;
}

.summary-title {
    justify-content: space-around;
}

.event-row-container,
.sub-row,
.player-wrapper {
    align-items: flex-end;
}

.player-in-indicator {
    color: green;
}

.player-out-indicator,
.own-goal,
.red-card-indicator {
    color: red;
}

.minute-indicator {
    margin: 0 5px;
}

.yellow-card-indicator {
    color: yellow;
}

.lineup-header {
    justify-content: center;
    background: lightgray;
}