.homeEvent,
.awayEvent,
.event-row-container,
.summary-title,
.sub-row {
    display: flex;
    width: 100%;
}

.homeEvent {
    justify-content: flex-start;
}

.awayEvent {
    justify-content: flex-end;
}

.summary-title {
    justify-content: space-around;
}

.event-row-container,
.sub-row {
    align-items: flex-end;
}

.player-in-indicator {
    color: green;
}

.player-out-indicator,
.own-goal,
.red-card-indicator {
    color: red;
}

.minute-indicator {
    margin: 0 5px;
}

.yellow-card-indicator {
    color: yellow;
}